name: File Donwnloader

on:
  workflow_dispatch:

jobs:
  donwnloader:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Installing dependencies
        run: sudo apt-get install p7zip-full

      - name: Donwloading file
        run: wget -v -O downloaded.zip https://mirror.citrahost.com/archlinux/iso/2024.03.01/archlinux-2024.03.01-x86_64.iso

      - name: Splitting file
        run: 7z a -v90m -tzip -bsp1 split.zip donwloaded.zip

      - name: Finishing up
        run: |
          7z e split.zip -bsp1 -o/dl-out
          rm downloaded.zip
          rm split.zip

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: downloaded-files
          path: dl-out/
