name: SSH
on:
  workflow_dispatch:

jobs:
  SSH:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y openssh-server tree
      - name: Start SSH service
        run: |
          cd ~
          sudo systemctl enable ssh
          sudo systemctl start ssh

          # echo "- Server tree view -"
          # sudo tree -af /
          # echo ""

          echo "- Server kernel info -"
          uname -a
          cat /etc/passwd
          echo -n "whoami:"
          whoami
          echo -e "\n"

          echo "- Server IP Address -"
          ip addr show | grep 'inet ' | awk '{print $2}' | cut -d'/' -f1
          echo ""

          # echo "- SSH Public Key -"
          # cat .ssh/id_rsa.pub
          # echo ""
      - name: Sleep
        run: sleep 300
